
<h1>Edit Sea</h1>
 
<%= form_with(model: @sea, local: true) do |f| %>

<% if @sea.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sea.errors.count, "error") %> prohibited
        this sea from being saved:
      </h2>
      <ul>
        <% @sea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :temperature %>
  <%= f.number_field :temperature %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :mood %>
  <%= f.text_field :mood %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color %>

  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature %>

  <%= f.label :has_mermaids %>
  <%= f.check_box :has_mermaids %>

  <%=  f.submit %>

  <% end %>
